{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
ログイン
{% endblock title %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title h5 mb-3">ログイン</h2>
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="mt-4 text-center">
          <button type="submit" class="btn btn-primary">ログイン</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content  %}